.App {
  background-image: url("./assets/background.png");
  text-align: center;
}
.sectionTitle{
  font-family: Oswald;
  color: white;
  font-size: 50px;
}
.sectionDescription{
  color: #e6c397;
  font-family: EB Garamond;
  font-size: 25px;
}
.GithubIcon{
  color: white;
}
.LinkedInIcon{
  color: white;
}
.GithubIcon:hover {
  color: black;
}
.LinkedInIcon:hover {
  color: #0a66c2;
}
.EmailIcon{
  color: white;
}
.EmailIcon:hover{
  color: #e6c397;
}


@media only screen and (max-width: 800px) {

  .screensOneContinuer{
    display: none;
  }
  .images{
    width: 280px;
    height: 280px;
  }
  .sectionTitle{
    font-size: 40px;
  }
  .sectionDescription{
    font-size: 20px;
  }
}
